<%- include("includes/head.ejs", {title: "403"}) %>
<link rel="stylesheet" href="/styles/404.css">
</head>

<body>
  <main>
    <article id="content">
      <h1>403 - Forbidden</h1>
      <p>You are not allowed to do this action!</p>
      <a href="/" class="link-button">Go back for your safety</a>
    </article>
  </main>
</body>

</html>