<%- include('includes/head', {title: 'something went wrong'}) %>
<link rel="stylesheet" href="/styles/404.css">
</head>

<body>
  <main>
    <article id="content">
      <h1>500</h1>
      <p>something went wrong</p>
      <a href="/" class="link-button">Go back for your safety</a>
    </article>
  </main>
</body>

</html>