<nav id="nav-bar">
  <ul id="nav-bar-list">
    <li><a href="/" class="nav-bar-list-item">Beranda</a></li>
    <li><a href="" class="nav-bar-list-item">Tentang kami</a></li>
    <li><a href="/login" class="nav-bar-list-item">Masuk</a></li>
    <li><a href="/signup" class="nav-bar-list-item">Daftar</a></li>
  </ul>
</nav>