main {
  margin: 2rem;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 2rem;
}
#left-nav {
  height: 100%;
  background-color: white;
  box-shadow: 0px 0px 25px rgba(25, 25, 25, 0.2);
  border-radius: 8px;
}
